<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oauth Activity By Jan Millena Villaflores</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    
    <!-- <% if(user) { %>
    <a href="/auth/logout">Logout</a>    
    <br>
    <% } else { %>
    <a href="/auth/login">Login</a>
    <br>
    <% } %>
    <a href="/">Homepage</a>
    <br>
    <a href="/profile">Profile</a>
    <br>
    <hr> -->

    <nav>
        <div class="nav-wrapper" style="padding:15px,0px,15px,0px;">
          <a href="/" class="brand-logo">HOMEPAGE</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/auth/login">LOGIN</a></li>
            <!-- <li><a href="/auth/logout">LOGOUT</a></li>
            <li><a href="/profile">PROFILE</a></li> -->
            
          </ul>
        </div>
      </nav>

</body>
</html>